In [2]:
import pandas as pd

In [3]:
# load data

# df_09 = pd.read_csv('Resources/2009.csv')
# df_10 = pd.read_csv('Resources/2010.csv')
# df_11 = pd.read_csv('Resources/2011.csv')
# df_12 = pd.read_csv('Resources/2012.csv')
# df_13 = pd.read_csv('Resources/2013.csv')
# df_14 = pd.read_csv('Resources/2014.csv')
# df_15 = pd.read_csv('Resources/2015.csv')
# df_16 = pd.read_csv('Resources/2016.csv')

df_17 = pd.read_csv('Resources/2017.csv').drop(columns=["TAXI_OUT","WHEELS_OFF","WHEELS_ON","TAXI_IN","CRS_ARR_TIME", "ARR_TIME", "ARR_DELAY","Unnamed: 27"])
df_18 = pd.read_csv('Resources/2018.csv').drop(columns=["TAXI_OUT","WHEELS_OFF","WHEELS_ON","TAXI_IN","CRS_ARR_TIME", "ARR_TIME", "ARR_DELAY","Unnamed: 27"])

In [4]:
# merge years and filter for ORD as origin

df_all = df_17.append([df_18], ignore_index= True)
df_all.head()

df_allord = df_all.loc[df_all["ORIGIN"]== "ORD"]

df_allord

,FL_DATE,OP_CARRIER,OP_CARRIER_FL_NUM,ORIGIN,DEST,CRS_DEP_TIME,DEP_TIME,DEP_DELAY,CANCELLED,CANCELLATION_CODE,DIVERTED,CRS_ELAPSED_TIME,ACTUAL_ELAPSED_TIME,AIR_TIME,DISTANCE,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY
18,2017-01-01,AA,25,ORD,LAS,1705,1707.0,2.0,0.0,NaN,0.0,242.0,248.0,218.0,1514.0,NaN,NaN,NaN,NaN,NaN
31,2017-01-01,AA,41,ORD,SFO,1335,1404.0,29.0,0.0,NaN,0.0,286.0,276.0,260.0,1846.0,19.0,0.0,0.0,0.0,0.0
38,2017-01-01,AA,53,ORD,TPA,1508,1517.0,9.0,0.0,NaN,0.0,156.0,156.0,137.0,1012.0,NaN,NaN,NaN,NaN,NaN
40,2017-01-01,AA,55,ORD,MCO,1850,1857.0,7.0,0.0,NaN,0.0,163.0,153.0,132.0,1005.0,NaN,NaN,NaN,NaN,NaN
65,2017-01-01,AA,87,ORD,PDX,1650,1644.0,-6.0,0.0,NaN,0.0,272.0,292.0,239.0,1739.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12887919,2018-12-31,AA,1668,ORD,CLT,1035,1033.0,-2.0,0.0,NaN,0.0,116.0,145.0,97.0,599.0,0.0,0.0,27.0,0.0,0.0
12887942,2018-12-31,AA,1691,ORD,DCA,2037,2100.0,23.0,0.0,NaN,0.0,113.0,101.0,80.0,612.0,NaN,NaN,NaN,NaN,NaN
12887986,2018-12-31,AA,1734,ORD,CLT,1211,1221.0,10.0,0.0,NaN,0.0,118.0,117.0,89.0,599.0,NaN,NaN,NaN,NaN,NaN
12888007,2018-12-31,AA,1765,ORD,PHX,500,455.0,-5.0,0.0,NaN,0.0,235.0,231.0,213.0,1440.0,NaN,NaN,NaN,NaN,NaN
12888027,2018-12-31,AA,1786,ORD,PHL,2035,2045.0,10.0,0.0,NaN,0.0,116.0,114.0,85.0,678.0,NaN,NaN,NaN,NaN,NaN

In [5]:
# import airport codes

df_airports = pd.read_csv('Resources/airport_geo.csv').drop(columns=["airport_code4"])

# filter for US, drop local airports, reset index, and remove extra columns
df_usairports = df_airports.loc[df_airports["country_code"]== "US"].dropna(subset=['airport_code3']).reset_index().drop(columns = ["index"]).rename(columns={"airport_code3": "DEST", "latitude": "dest_latitude", "longitude": "dest_longitude"})

df_usairports

,country_code,airport_name,DEST,dest_longitude,dest_latitude
0,US,Barter Island Lrrs,BTI,-143.581867,70.133989
1,US,Wainwright As,K03,-159.860350,70.613378
2,US,Anaktuvuk Pass,AKP,-151.743342,68.133597
3,US,Arctic Village,ARC,-145.579417,68.114669
4,US,Atqasuk Edward Burnell Sr Mem,ATK,-157.435736,70.467275
...,...,...,...,...,...
672,US,Tweed New Haven,HVN,-72.886806,41.263750
673,US,Ladd Aaf,FBK,-147.614444,64.837500
674,US,Mc Minnville Muni,MMV,-123.135944,45.194444
675,US,Robins Afb,WRB,-83.591850,32.640144
676,US,Barnstable Muni Boardman Polando Fld,HYA,-70.280356,41.669336

In [6]:
# merge datasets

df_ord_domflights = df_allord.merge(df_usairports, on = "DEST", how = 'inner')

df_ord_domflights

,FL_DATE,OP_CARRIER,OP_CARRIER_FL_NUM,ORIGIN,DEST,CRS_DEP_TIME,DEP_TIME,DEP_DELAY,CANCELLED,CANCELLATION_CODE,...,DISTANCE,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY,country_code,airport_name,dest_longitude,dest_latitude
0,2017-01-01,AA,25,ORD,LAS,1705,1707.0,2.0,0.0,NaN,...,1514.0,NaN,NaN,NaN,NaN,NaN,US,Mc Carran Intl,-115.152250,36.080056
1,2017-01-01,AA,300,ORD,LAS,1235,1232.0,-3.0,0.0,NaN,...,1514.0,NaN,NaN,NaN,NaN,NaN,US,Mc Carran Intl,-115.152250,36.080056
2,2017-01-01,NK,245,ORD,LAS,1518,1507.0,-11.0,0.0,NaN,...,1514.0,NaN,NaN,NaN,NaN,NaN,US,Mc Carran Intl,-115.152250,36.080056
3,2017-01-01,NK,357,ORD,LAS,927,1204.0,157.0,0.0,NaN,...,1514.0,0.0,0.0,130.0,0.0,0.0,US,Mc Carran Intl,-115.152250,36.080056
4,2017-01-01,UA,599,ORD,LAS,1940,1945.0,5.0,0.0,NaN,...,1514.0,NaN,NaN,NaN,NaN,NaN,US,Mc Carran Intl,-115.152250,36.080056
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
585733,2018-12-15,F9,1311,ORD,HRL,1351,1342.0,-9.0,0.0,NaN,...,1219.0,NaN,NaN,NaN,NaN,NaN,US,Valley Intl,-97.654389,26.228500
585734,2018-12-19,F9,1311,ORD,HRL,1351,1345.0,-6.0,0.0,NaN,...,1219.0,NaN,NaN,NaN,NaN,NaN,US,Valley Intl,-97.654389,26.228500
585735,2018-12-22,F9,1311,ORD,HRL,1351,1338.0,-13.0,0.0,NaN,...,1219.0,NaN,NaN,NaN,NaN,NaN,US,Valley Intl,-97.654389,26.228500
585736,2018-12-26,F9,1311,ORD,HRL,1351,1341.0,-10.0,0.0,NaN,...,1219.0,NaN,NaN,NaN,NaN,NaN,US,Valley Intl,-97.654389,26.228500
585737,2018-12-29,F9,1311,ORD,HRL,1351,1343.0,-8.0,0.0,NaN,...,1219.0,0.0,0.0,18.0,0.0,0.0,US,Valley Intl,-97.654389,26.228500

In [7]:
# add ORD/origin lat and long (constant)

df_ord_domflights['org_longitude']= '-87.904842'
df_ord_domflights['org_latitude']= '41.978603'

df_ord_domflights

,FL_DATE,OP_CARRIER,OP_CARRIER_FL_NUM,ORIGIN,DEST,CRS_DEP_TIME,DEP_TIME,DEP_DELAY,CANCELLED,CANCELLATION_CODE,...,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY,country_code,airport_name,dest_longitude,dest_latitude,org_longitude,org_latitude
0,2017-01-01,AA,25,ORD,LAS,1705,1707.0,2.0,0.0,NaN,...,NaN,NaN,NaN,NaN,US,Mc Carran Intl,-115.152250,36.080056,-87.904842,41.978603
1,2017-01-01,AA,300,ORD,LAS,1235,1232.0,-3.0,0.0,NaN,...,NaN,NaN,NaN,NaN,US,Mc Carran Intl,-115.152250,36.080056,-87.904842,41.978603
2,2017-01-01,NK,245,ORD,LAS,1518,1507.0,-11.0,0.0,NaN,...,NaN,NaN,NaN,NaN,US,Mc Carran Intl,-115.152250,36.080056,-87.904842,41.978603
3,2017-01-01,NK,357,ORD,LAS,927,1204.0,157.0,0.0,NaN,...,0.0,130.0,0.0,0.0,US,Mc Carran Intl,-115.152250,36.080056,-87.904842,41.978603
4,2017-01-01,UA,599,ORD,LAS,1940,1945.0,5.0,0.0,NaN,...,NaN,NaN,NaN,NaN,US,Mc Carran Intl,-115.152250,36.080056,-87.904842,41.978603
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
585733,2018-12-15,F9,1311,ORD,HRL,1351,1342.0,-9.0,0.0,NaN,...,NaN,NaN,NaN,NaN,US,Valley Intl,-97.654389,26.228500,-87.904842,41.978603
585734,2018-12-19,F9,1311,ORD,HRL,1351,1345.0,-6.0,0.0,NaN,...,NaN,NaN,NaN,NaN,US,Valley Intl,-97.654389,26.228500,-87.904842,41.978603
585735,2018-12-22,F9,1311,ORD,HRL,1351,1338.0,-13.0,0.0,NaN,...,NaN,NaN,NaN,NaN,US,Valley Intl,-97.654389,26.228500,-87.904842,41.978603
585736,2018-12-26,F9,1311,ORD,HRL,1351,1341.0,-10.0,0.0,NaN,...,NaN,NaN,NaN,NaN,US,Valley Intl,-97.654389,26.228500,-87.904842,41.978603
585737,2018-12-29,F9,1311,ORD,HRL,1351,1343.0,-8.0,0.0,NaN,...,0.0,18.0,0.0,0.0,US,Valley Intl,-97.654389,26.228500,-87.904842,41.978603

In [8]:
df_ord_domflights.to_csv('output_data.csv', index=False)

In [9]:
airport_dropdown_df = df_ord_domflights[["DEST", "DISTANCE", "airport_name","dest_longitude","dest_latitude"]].drop_duplicates(subset=['DEST'])

airport_dropdown_df

,DEST,DISTANCE,airport_name,dest_longitude,dest_latitude
0,LAS,1514.0,Mc Carran Intl,-115.152250,36.080056
9442,SFO,1846.0,San Francisco Intl,-122.374889,37.618972
23707,TPA,1012.0,Tampa Intl,-82.533250,27.975472
29271,MCO,1005.0,Orlando Intl,-81.308994,28.429394
38877,PDX,1739.0,Portland Intl,-122.597500,45.588722
...,...,...,...,...,...
585536,ILM,760.0,Wilmington Intl,-77.902569,34.270615
585624,FAT,1730.0,Fresno Yosemite Intl,-119.718140,36.776194
585713,LFT,843.0,Lafayette Rgnl,-91.987611,30.205278
585714,BRO,1233.0,Brownsville South Padre Island Intl,-97.425861,25.906833
585726,HRL,1219.0,Valley Intl,-97.654389,26.228500

In [10]:
from sqlalchemy import create_engine

In [11]:
from sqlalchemy.ext.declarative import declarative_base
Base = declarative_base()

In [12]:
from sqlalchemy import Column, Integer, String, Float

In [13]:
class Destinations(Base):
    __tablename__ = 'dest_airports'
    primary_id = Column(Integer, primary_key=True)
    DEST = Column(String(10))
    DISTANCE = Column(Float)
    airport_name = Column(String(50))
    dest_longitude = Column(Float)
    dest_latitude = Column(Float)

In [14]:
# Create Database Connection
# ----------------------------------
# Establish Connection
engine = create_engine("sqlite:///dest_airports.sqlite")
conn = engine.connect()

In [15]:
# Create the olympics tables within the database
Base.metadata.create_all(conn)

In [16]:
# To create Session object
from sqlalchemy.orm import Session
session = Session(bind=engine)

In [17]:
# load df to SQL

airport_dropdown_df.to_sql('dest_airports', conn, if_exists='append', index = False)

In [18]:
# Query the database and collect all of the primary IDs in the olympics table
airport_list = session.query(Destinations)
for airport in airport_list:
    print(airport.primary_id)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161